

<div class="container">
  <div class="example__wrapper">
    <button class="example__button" (click)="toggle('example1')" >{{isExample1Open ? 'Скрыть example1' : 'Открыть example1'}}</button>
    <app-example-1 *ngIf="isExample1Open"></app-example-1>
  </div>

  <div class="example__wrapper">
    <button class="example__button" (click)="toggle('example2')" >{{isExample2Open ? 'Скрыть example2' : 'Открыть example2'}}</button>
    <app-example-2 *ngIf="isExample2Open"></app-example-2>
  </div>

  <div class="example__wrapper">
    <button class="example__button" (click)="toggle('example3')" >{{isExample3Open ? 'Скрыть example3' : 'Открыть example3'}}</button>
    <app-example-3 *ngIf="isExample3Open"></app-example-3>
  </div>

  <div class="example__wrapper">
    <button class="example__button" (click)="toggle('example4')" >{{isExample4Open ? 'Скрыть example4' : 'Открыть example4'}}</button>
    <app-example-4 *ngIf="isExample4Open"></app-example-4>
  </div>

  <div class="example__wrapper">
    <button class="example__button" (click)="toggle('example5')" >{{isExample5Open ? 'Скрыть example5' : 'Открыть example5'}}</button>
    <app-example-5 *ngIf="isExample5Open"></app-example-5>
  </div>

  <div class="example__wrapper">
    <button class="example__button" (click)="toggle('example6')" >{{isExample6Open ? 'Скрыть parent' : 'Открыть parent'}}</button>
    <app-parent *ngIf="isExample6Open"></app-parent>
  </div>

  <div class="example__wrapper">
    <button class="example__button" (click)="toggle('example7')" >{{isExample7Open ? 'Скрыть example7' : 'Открыть example7'}}</button>
    <app-example-7 *ngIf="isExample7Open"></app-example-7>
  </div>

  <div class="example__wrapper">
    <button class="example__button" (click)="toggle('example8')" >{{isExample8Open ? 'Скрыть example8' : 'Открыть example8'}}</button>
    <app-example-8 *ngIf="isExample8Open"></app-example-8>
  </div>
</div>
